<h1> About us </h1>
<p> This is the alpha version of NedSquare. NedSquare is a crowdfunding platform for live entertainers. Instead of going to KickStarters or Indiegogo where artists are not appreciated, entertainers are going to perform online performnce for their public and the latter are going to fund the project from a pay per view basis. </p>