<ul class="nav nav-pills nav-stacked">
  <li class="active">
    <a href="#">
      <span class="badge pull-right">Winning</span>
      <h1> My own page, I am loving this course hahahahaha :) </h1>
      <h3> What do you guys think? </h3>
    </a>
    <a href="#">
      <span class="badge pull-right">Losing</span>
      <h1> Trying to find how to change colors :( </h1>
      <h3> Can you help? </h3>
    </a>
  </li>
  ...
</ul>